<div class="animated fadeIn">
  <h3 i18n>Abstracts</h3>
  <nz-card>
    <nz-card *ngFor="let item of abstracts" nzType="inner" style="margin-top:16px;" [nzTitle]="item.title" [nzExtra]="extraTemplate">
      <a [href]="item.link">{{item.description}}</a>
      <ng-template #extraTemplate>
        <a i18n [href]="item.link">More</a>
      </ng-template>
    </nz-card>
  </nz-card>
</div>
