<div class="animated fadeIn">
  <h2 i18n> International Summer School </h2>
    <div class="carousel-wrapper">
      <nz-carousel nzAutoPlay class="carousel-item-border" [nzAutoPlaySpeed]="8000">
        <div *ngFor="let path of array" nz-carousel-content>
          <img alt="group photo" class="w-100" [src]="'assets/home/' + path">
        </div>
      </nz-carousel>
    </div>
      <h5 class="text-center">{{date}}</h5>
      <p>{{homePageText}}</p>
  </div>
