<div class="animated fadeIn">
  <h3 i18n class="mb-4">Program</h3>
  <nz-tabset [(nzSelectedIndex)]="selectedTab">
    <nz-tab [nzTitle]="pagesArr[pageName][0]" (nzSelect)="onTab(0)">
      <app-academic *ngIf="!pagesArr[pageName][2]" [isTotal]="true"></app-academic>
      <app-calendar *ngIf="pagesArr[pageName][2]"></app-calendar>
    </nz-tab>
    <nz-tab [nzTitle]="pagesArr[pageName][1]" (nzSelect)="onTab(1)">
      <app-cultural *ngIf="!pagesArr[pageName][2]"></app-cultural>
      <app-academic *ngIf="pagesArr[pageName][2]" [isTotal]="false"></app-academic>
    </nz-tab>
  </nz-tabset>
</div>

