<div class="animated fadeIn">
  <h3 i18n class="mb-4">Dates & Prices</h3>
  <nz-card style="width: 70%; margin: auto; background-color: #f0f2f5">
    <div class="row">
      <i nz-icon nzType="schedule" nzTheme="fill" class="col-md-5 icon-style"></i>
      <p class="col-md-7 m-auto" style="font-weight: bold; text-align: -webkit-center;" >{{'06.11.2020' | date}}</p>
    </div>
    <div class="row mt-4">
      <svg class="col-md-5" style="height: 90px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
        <defs id="defs3051">
          <style type="text/css" id="current-color-scheme">.ColorScheme-Text {color:black}</style>
        </defs>
        <path style="fill:currentColor;" d="m11 3c-2.76142 0-5 2.23858-5 5 0 2.76142 5 11 5 11 0 0 5-8.23858 5-11 0-2.76142-2.23858-5-5-5m0 1a4 4 0 0 1 4 4 4 4 0 0 1 -4 4 4 4 0 0 1 -4 -4 4 4 0 0 1 4 -4" class="ColorScheme-Text"></path>
      </svg>
      <p i18n class="col-md-7 m-auto" style="font-weight: bold; text-align: -webkit-center;">Institute of mechanics</p>
    </div>
    <div class="row mt-4">
      <i nz-icon nzType="dollar-circle" nzTheme="fill" class="col-md-5 icon-style"></i>
      <div class="col-md-7 m-auto" style="text-align: -webkit-center;">
        <p i18n> ~<span style="font-weight: bold">300 USD </span> per cultural program </p>
        <p i18n> ~<span style="font-weight: bold">400 USD </span> per academic program</p>
      </div>
    </div>
    <div class="row mt-4">
      <svg class="col-md-5" xmlns="http://www.w3.org/2000/svg" version="1.0" width="60px" height="50px" viewBox="0 0 1280.000000 794.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,794.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M443 7921 c-95 -32 -198 -117 -305 -249 -81 -101 -129 -202 -135 -287 -7 -79 26 -193 87 -302 50 -90 218 -315 338 -455 282 -326 676 -618 1072 -793 189 -83 243 -113 360 -194 111 -76 116 -82 132 -131 l17 -52 -22 7 c-12 4 -59 9 -105 12 -144 10 -195 -25 -325 -222 -65 -100 -105 -142 -172 -180 -16 -9 -8 -22 64 -108 l82 -98 -53 -58 c-104 -112 -168 -228 -194 -353 -24 -115 -11 -204 60 -395 9 -24 20 -84 26 -135 54 -482 232 -1003 497 -1451 194 -329 407 -600 717 -916 479 -487 1001 -844 1576 -1079 800 -327 919 -369 1170 -411 537 -89 1122 -93 1790 -11 492 61 857 182 1120 372 154 112 174 123 305 172 165 61 477 213 622 304 382 239 714 554 984 932 201 281 545 883 684 1195 182 409 292 815 324 1201 10 117 8 189 -17 527 l-8 97 120 88 c153 111 178 147 177 254 -1 40 -7 96 -14 124 l-12 50 -187 -46 -187 -47 -60 67 c-33 37 -74 73 -92 80 -29 12 -36 11 -75 -10 -48 -25 -94 -75 -198 -215 l-67 -90 110 -7 c127 -8 178 -20 215 -49 52 -41 61 -72 61 -216 0 -72 -3 -134 -7 -138 -3 -4 -97 -38 -207 -76 -151 -52 -206 -67 -219 -60 -25 13 -70 81 -82 122 -6 19 -9 104 -8 189 3 165 -3 191 -54 247 l-21 22 84 98 c275 320 506 530 740 671 114 67 166 93 345 168 533 222 894 489 1158 859 193 269 195 517 7 706 -90 90 -149 113 -286 114 -128 0 -152 -9 -396 -141 -533 -291 -731 -454 -1088 -893 -234 -286 -350 -410 -732 -777 -646 -619 -641 -615 -834 -750 -309 -218 -458 -307 -565 -339 -53 -15 -445 -43 -457 -32 -2 3 2 41 11 84 21 106 22 147 7 224 -17 79 -10 112 24 127 46 21 88 14 151 -24 32 -20 78 -48 101 -61 l42 -24 88 66 c153 114 278 158 391 137 66 -12 86 -2 172 84 36 35 68 64 72 64 3 0 34 -39 68 -86 34 -47 64 -84 66 -82 2 2 -10 46 -25 98 -16 52 -36 130 -46 172 l-17 77 26 57 c40 87 36 118 -24 173 l-50 46 -19 107 c-21 116 -21 115 -65 171 -47 59 -48 124 -3 218 29 60 35 82 30 115 l-5 41 -107 -28 c-58 -16 -114 -29 -123 -29 -10 0 -70 70 -150 174 -73 96 -139 175 -147 175 -33 2 -154 -75 -205 -130 -83 -90 -111 -204 -83 -346 8 -40 13 -73 11 -73 -1 0 -19 29 -39 66 l-37 65 -307 -3 -307 -3 -59 -30 c-95 -49 -151 -140 -172 -284 l-10 -63 33 5 c18 3 74 24 125 47 119 54 184 56 252 8 l27 -20 -2 -181 -3 -182 -44 -24 c-58 -32 -149 -32 -286 -1 -162 36 -251 30 -326 -21 l-26 -18 -21 105 c-25 126 -47 173 -93 196 -37 20 -123 23 -241 9 -38 -4 -68 -5 -68 -2 0 4 81 111 180 240 99 129 180 235 180 237 0 2 -26 17 -57 33 -68 34 -105 66 -128 111 -15 28 -16 50 -11 139 6 92 4 124 -19 241 -15 74 -28 137 -30 138 -2 2 -23 -9 -47 -26 -63 -43 -148 -83 -278 -132 -204 -76 -308 -140 -359 -224 l-21 -33 -292 49 c-161 27 -298 50 -304 53 -8 2 -6 24 8 72 26 91 29 235 5 280 -23 43 -64 63 -130 63 -97 0 -212 -47 -406 -164 l-91 -56 -88 81 c-155 142 -247 190 -326 168 -42 -12 -83 -58 -90 -102 -9 -56 -21 -406 -20 -562 1 -175 14 -238 76 -362 43 -87 43 -88 13 -193 -3 -9 10 -23 34 -37 51 -29 76 -84 91 -197 11 -92 27 -134 63 -174 l21 -22 -83 -121 c-46 -66 -80 -123 -77 -127 4 -3 48 -1 98 6 167 21 238 77 238 190 0 62 -34 117 -119 194 l-63 57 36 212 c30 173 35 214 24 224 -7 6 -62 53 -121 105 -60 51 -105 96 -100 100 10 11 322 130 337 130 9 0 22 -104 45 -362 17 -199 33 -363 35 -365 1 -2 21 6 44 17 23 11 72 27 109 35 37 9 89 23 114 31 71 23 129 94 129 159 0 27 11 32 82 41 158 18 217 76 218 214 0 36 6 89 14 117 12 46 64 192 71 201 8 10 107 -52 138 -87 48 -53 68 -95 106 -221 31 -99 73 -190 89 -190 13 0 53 68 69 117 12 39 13 82 8 234 l-6 186 136 7 c207 11 297 45 394 151 l51 57 0 -321 0 -321 -64 -112 c-36 -62 -70 -132 -76 -156 -28 -109 66 -168 312 -197 l58 -6 16 -52 c9 -29 18 -87 21 -129 5 -66 3 -81 -15 -110 -23 -37 -42 -49 -110 -73 -70 -24 -286 -48 -391 -43 -108 5 -155 21 -234 81 -28 22 -58 37 -75 37 -32 0 -213 -43 -396 -95 -70 -20 -130 -34 -133 -32 -11 11 54 116 105 169 75 79 174 128 329 163 153 35 278 69 328 91 l40 17 -30 13 c-80 33 -149 39 -255 20 -56 -10 -103 -16 -106 -14 -2 2 1 51 6 109 19 214 13 226 -57 118 -76 -114 -110 -129 -195 -86 l-46 23 -4 -105 c-3 -93 -7 -114 -34 -171 -39 -82 -105 -156 -186 -207 -136 -86 -341 -196 -400 -215 -85 -27 -191 -21 -270 15 -37 17 -58 22 -58 14 0 -22 -39 -259 -43 -263 -4 -5 -666 44 -682 50 -7 2 -5 90 7 267 9 145 16 265 14 266 -1 2 -37 -40 -80 -92 -42 -52 -80 -95 -84 -95 -4 0 -47 56 -97 125 -74 103 -93 123 -110 118 -35 -10 -37 -19 -16 -88 29 -93 26 -136 -13 -232 l-34 -83 130 0 c100 0 129 -3 126 -12 -3 -7 -20 -86 -38 -174 l-34 -162 -182 -47 c-101 -26 -187 -44 -193 -41 -10 6 -220 260 -234 283 -4 6 11 44 32 85 108 199 108 394 0 566 -10 17 0 34 87 146 150 192 157 207 159 335 2 58 8 120 14 136 14 34 59 85 76 85 6 0 44 -142 90 -337 43 -186 81 -342 85 -346 4 -4 92 57 196 137 119 91 191 140 195 133 4 -7 17 -72 30 -144 18 -105 26 -133 38 -133 42 1 101 42 170 118 l73 82 -31 35 c-46 53 -91 90 -141 116 -36 19 -60 24 -125 24 -93 0 -153 -23 -261 -100 -62 -44 -64 -45 -68 -23 -12 57 -38 231 -51 339 -15 135 -33 180 -81 210 -43 26 -129 35 -178 19 -109 -36 -176 -165 -176 -339 0 -124 -2 -127 -84 -145 -99 -22 -188 -66 -217 -107 -19 -27 -24 -46 -24 -94 1 -76 28 -154 110 -324 36 -73 65 -137 65 -141 0 -16 -103 -32 -171 -28 -99 7 -184 52 -273 142 -450 460 -610 659 -779 976 -175 326 -293 448 -892 929 -254 204 -353 272 -471 321 -150 62 -255 75 -351 41z m316 -251 c138 -26 251 -93 398 -234 110 -105 113 -110 113 -152 0 -94 -50 -96 -301 -15 -183 59 -333 101 -363 101 -11 0 -3 -20 30 -71 56 -87 114 -209 147 -309 25 -77 53 -218 44 -226 -7 -7 -299 297 -388 405 -44 52 -90 117 -104 145 -71 142 8 298 180 352 49 15 174 18 244 4z m11686 -100 c31 -12 175 -121 175 -132 0 -15 -112 -189 -174 -271 -132 -176 -342 -370 -541 -502 -170 -111 -450 -246 -659 -315 l-68 -22 -24 28 c-13 16 -23 32 -24 35 0 4 69 54 153 112 191 131 334 239 521 392 l147 119 -6 47 -7 46 71 18 c85 21 178 64 208 96 29 32 53 91 53 132 0 29 -26 146 -34 154 -1 2 -76 -29 -165 -68 -89 -39 -165 -69 -167 -66 -9 9 123 117 167 137 44 20 117 25 153 11 14 -5 40 3 84 26 67 35 94 39 137 23z m-541 -297 c3 -27 8 -73 12 -104 l6 -57 -71 -4 -70 -4 -53 -56 c-62 -66 -107 -88 -245 -118 -127 -27 -189 -47 -235 -78 -37 -24 -38 -24 -84 -8 -61 21 -67 20 -54 -3 5 -11 15 -42 21 -70 21 -97 -36 -169 -177 -225 -37 -15 -68 -25 -71 -23 -2 3 45 80 104 172 l108 167 165 117 c310 221 355 247 508 302 59 21 112 38 119 38 6 1 14 -20 17 -46z m-10311 -248 c26 -52 47 -97 47 -99 0 -2 -11 -11 -25 -20 l-25 -16 -50 101 c-28 56 -50 102 -48 104 8 6 44 24 48 25 3 0 27 -43 53 -95z m3272 40 c39 -17 229 -195 218 -205 -4 -4 -64 -13 -133 -19 -69 -7 -133 -15 -142 -17 -17 -5 -18 6 -18 131 l0 136 23 -7 c12 -3 36 -12 52 -19z m715 -17 c1 -41 -85 -685 -92 -693 -13 -15 -231 61 -281 98 -71 54 -90 106 -95 265 -5 129 -4 135 14 128 64 -25 116 -18 139 18 9 13 25 56 36 97 11 40 25 79 31 86 15 18 248 18 248 1z m-4062 -250 c23 -6 62 -25 86 -42 46 -33 132 -124 124 -131 -3 -3 -67 22 -143 55 -76 33 -140 60 -142 60 -2 0 -3 -34 -3 -75 0 -58 -3 -75 -14 -75 -8 0 -21 -2 -28 -5 -11 -5 -20 19 -38 102 -12 59 -24 113 -27 118 -5 14 125 9 185 -7z m-535 -11 c18 -8 50 -34 71 -58 73 -82 260 -249 302 -270 38 -18 50 -19 101 -10 94 17 153 -5 197 -71 19 -28 76 -158 76 -173 0 -3 -33 -5 -74 -5 -144 0 -233 43 -487 233 -117 87 -178 141 -242 214 -47 53 -83 101 -80 106 6 9 82 46 96 47 4 0 22 -6 40 -13z m965 -104 c6 -9 12 -23 12 -30 0 -17 -43 -113 -51 -113 -3 0 -13 33 -22 73 -10 39 -20 82 -24 95 l-6 23 39 -16 c22 -8 45 -23 52 -32z m6971 -178 c79 -91 141 -169 139 -174 -2 -5 -33 -41 -71 -80 -76 -81 -79 -81 -141 -10 -47 56 -70 108 -101 230 -14 56 -33 115 -41 132 -9 16 -14 30 -12 32 4 4 71 33 79 34 3 1 70 -73 148 -164z m-7086 52 l82 -53 19 -74 c64 -254 242 -487 508 -667 59 -40 109 -73 112 -73 3 0 -2 18 -10 41 -16 38 -16 42 0 57 20 20 -49 88 825 -813 541 -558 647 -672 633 -680 -9 -5 -51 -9 -92 -9 -145 0 -222 50 -511 330 -103 100 -240 226 -305 280 -187 156 -293 292 -454 579 -40 72 -74 132 -76 134 -2 2 -24 -15 -50 -38 -37 -32 -50 -39 -65 -31 -21 12 -153 142 -294 291 -110 116 -201 189 -300 240 -53 28 -69 42 -85 76 -11 24 -20 45 -20 48 0 3 27 5 60 5 33 0 60 4 60 8 0 4 -29 95 -65 202 -36 107 -65 196 -65 197 0 8 17 -1 93 -50z m9162 -236 c14 -62 25 -120 25 -127 0 -9 -28 3 -74 31 -40 25 -79 45 -85 45 -8 0 -7 5 3 15 8 8 34 50 57 92 24 42 44 73 45 68 2 -6 15 -61 29 -124z m-2875 61 c0 -54 -49 -82 -142 -82 -43 0 -54 5 -93 41 -71 66 -66 69 95 69 l140 0 0 -28z m2699 -159 c-79 -130 -132 -214 -161 -254 -41 -58 -336 -358 -960 -977 -286 -284 -493 -497 -503 -518 -39 -83 -11 -178 67 -227 37 -23 68 -31 171 -44 70 -9 127 -20 127 -24 0 -21 -35 -85 -65 -118 -44 -48 -105 -75 -220 -96 -50 -9 -130 -27 -180 -40 -49 -14 -144 -31 -210 -39 -66 -9 -156 -21 -200 -27 -98 -15 -145 -7 -190 32 -34 30 -67 100 -80 171 l-7 35 704 674 c387 370 813 782 948 914 252 248 304 293 450 388 72 47 318 187 328 187 2 0 -7 -17 -19 -37z m-5540 -20 c6 -21 11 -52 11 -70 0 -28 -4 -33 -37 -42 -20 -6 -38 -9 -39 -8 -1 1 -7 34 -12 72 -10 77 -7 85 40 85 23 0 29 -6 37 -37z m3206 -8 c94 -8 175 -15 182 -15 8 0 10 -21 6 -73 -7 -93 3 -124 80 -256 74 -126 96 -187 97 -264 0 -56 -2 -60 -51 -112 -93 -99 -171 -121 -327 -94 -151 26 -236 -33 -272 -191 -50 -220 -81 -273 -349 -610 -50 -63 -91 -120 -91 -126 0 -7 52 -58 115 -114 93 -82 118 -100 136 -95 11 4 53 37 93 75 39 37 81 72 93 79 32 17 79 13 123 -9 l39 -20 -15 -52 c-22 -74 -76 -199 -116 -265 -136 -225 -369 -338 -662 -319 -168 11 -167 15 25 62 96 24 184 46 197 49 17 4 22 13 22 35 0 35 17 34 -209 20 -90 -6 -166 -9 -167 -7 -2 2 30 52 72 111 41 60 74 110 72 111 -3 4 -496 -64 -517 -71 -9 -3 18 -37 76 -97 49 -50 113 -118 143 -149 l53 -58 -618 0 c-340 0 -616 2 -614 4 2 2 83 37 179 76 96 40 179 76 184 81 6 5 3 23 -7 46 -62 139 -36 268 97 482 61 99 108 189 125 242 l12 36 160 12 c89 7 164 9 169 5 4 -5 19 -40 33 -79 14 -38 28 -77 32 -86 6 -15 12 -16 68 -3 193 45 289 150 321 351 21 129 41 164 106 183 36 10 139 -7 146 -24 2 -6 -18 -67 -45 -136 l-50 -125 21 -22 c12 -13 25 -23 29 -23 4 0 64 37 134 82 l126 82 -6 40 c-17 106 -61 153 -218 232 -49 25 -108 63 -131 84 -38 35 -52 58 -82 137 -8 21 -21 7 -133 -137 -69 -88 -126 -158 -129 -156 -2 3 -21 68 -41 145 l-38 141 46 38 c25 21 94 77 153 125 l106 87 67 -80 66 -80 40 21 c22 11 89 31 150 44 176 39 239 76 285 168 14 28 59 136 100 241 41 105 79 201 84 214 11 26 5 26 225 7z m-6264 -10 c24 -13 28 -19 19 -35 -15 -28 -24 -31 -48 -14 -22 15 -31 64 -12 64 6 0 24 -7 41 -15z m6852 -179 c-48 -50 -89 -93 -90 -95 -2 -3 -17 8 -33 24 l-30 29 92 93 92 93 28 -27 28 -27 -87 -90z m157 -336 c0 -66 -3 -120 -7 -120 -3 0 -67 28 -140 62 l-135 62 7 40 c3 22 8 42 10 44 5 6 181 29 228 31 l37 1 0 -120z m-7126 -381 c232 -77 428 -229 669 -519 74 -88 87 -109 82 -130 -9 -36 -42 -67 -112 -107 -70 -39 -113 -83 -113 -117 0 -32 48 -123 77 -146 40 -31 86 -25 170 21 41 23 76 39 79 37 4 -5 -54 -289 -61 -297 -3 -2 -31 1 -62 8 -313 67 -430 112 -528 203 -68 63 -140 175 -125 193 6 7 74 54 151 106 l141 93 -88 13 c-119 17 -195 47 -253 99 -56 50 -90 120 -98 201 l-6 54 -46 -5 c-172 -22 -355 -36 -363 -28 -5 5 -10 21 -11 37 -2 25 6 33 71 73 80 48 114 88 167 193 l34 66 68 -9 c37 -5 108 -23 157 -39z m3706 -19 c0 -11 -70 -263 -75 -268 -5 -6 -139 47 -152 61 -20 20 -28 91 -14 125 7 15 26 37 44 47 54 32 197 57 197 35z m-458 -184 c16 -12 14 -17 -18 -65 -36 -53 -57 -61 -77 -30 -8 13 -2 27 23 63 35 49 45 53 72 32z m4938 -376 c33 -184 62 -345 65 -357 5 -20 -11 -27 -221 -97 l-226 -75 -112 117 c-62 64 -129 136 -150 159 l-37 42 308 281 c169 156 308 278 310 274 1 -5 30 -160 63 -344z m-5522 287 c37 -38 57 -89 66 -172 10 -92 27 -167 43 -200 18 -35 62 -85 76 -85 5 0 92 59 194 131 101 72 186 129 189 127 2 -3 18 -67 34 -144 17 -76 32 -149 35 -162 6 -23 6 -23 36 -5 16 10 58 50 92 89 88 101 128 127 194 121 96 -7 96 -8 117 -222 11 -108 15 -190 10 -195 -5 -4 -54 -27 -109 -50 -55 -23 -104 -44 -108 -47 -4 -3 11 -18 33 -34 71 -52 82 -79 99 -256 10 -90 32 -155 65 -182 9 -8 16 -16 16 -20 0 -6 -611 28 -619 35 -1 1 2 35 9 75 l13 73 -33 27 c-32 27 -317 162 -330 157 -4 -2 10 -61 30 -133 21 -71 36 -133 34 -137 -7 -11 -126 -48 -187 -58 -112 -18 -250 24 -344 105 l-43 36 90 120 c50 65 93 125 96 133 4 9 -51 52 -168 131 -95 65 -177 121 -181 125 -9 8 498 650 512 650 4 0 21 -15 39 -33z m-2910 -227 c39 -18 72 -36 72 -40 0 -4 -45 -47 -100 -95 -92 -81 -100 -91 -100 -124 0 -82 131 -240 284 -342 117 -79 321 -178 471 -229 164 -56 330 -99 665 -171 300 -64 379 -90 489 -160 48 -30 61 -43 50 -49 -65 -36 -456 -46 -649 -16 -234 36 -670 163 -891 259 -222 97 -380 199 -515 332 -115 113 -145 169 -152 277 -5 92 7 148 54 243 80 160 162 189 322 115z m9121 -311 c55 -44 101 -85 101 -89 0 -20 -126 -173 -192 -235 -141 -130 -305 -222 -527 -295 -610 -200 -1446 -389 -2081 -469 -417 -53 -676 -69 -1290 -81 -272 -5 -625 -16 -785 -26 -389 -22 -537 -9 -784 72 -103 34 -361 151 -361 164 0 3 32 17 71 30 l70 23 227 -17 c834 -59 1621 -37 2472 69 107 13 305 36 440 50 452 47 632 78 1030 181 469 121 1063 312 1148 369 58 39 112 92 246 238 49 53 95 97 101 97 7 0 58 -36 114 -81z m-7272 -331 c34 -73 65 -134 70 -135 5 -2 70 35 146 81 l137 85 13 -27 c30 -59 139 -343 134 -348 -5 -5 -591 85 -851 130 -154 27 -178 39 -214 105 l-24 41 27 45 c14 25 33 45 42 45 8 0 46 -16 82 -36 l67 -36 145 90 c79 50 149 91 154 91 6 0 38 -59 72 -131z m-1748 -407 c228 -105 417 -195 420 -200 4 -5 19 -116 35 -248 16 -131 33 -243 37 -249 5 -6 69 -28 144 -49 131 -38 134 -39 121 -59 -7 -12 -35 -34 -61 -51 -42 -26 -58 -30 -119 -30 -48 1 -101 10 -164 29 -72 21 -126 30 -245 37 -242 15 -233 12 -275 77 -93 146 -178 369 -267 699 -31 114 -59 217 -62 227 -4 13 -1 17 8 13 8 -3 201 -91 428 -196z m8935 147 c-3 -29 -19 -120 -35 -201 -76 -398 -183 -594 -372 -687 -61 -29 -181 -60 -237 -60 -28 0 -29 2 -23 33 8 44 17 60 68 117 25 28 45 55 45 60 0 4 -54 41 -121 82 -66 40 -116 74 -111 76 5 1 86 -4 178 -12 93 -8 170 -14 171 -13 1 1 -25 46 -57 99 l-59 97 42 19 c68 30 111 76 200 211 112 170 185 230 280 231 l38 0 -7 -52z m-6049 -290 c11 -54 35 -191 33 -193 -3 -2 -243 67 -272 78 -10 4 -12 15 -7 39 7 32 10 34 111 65 128 38 128 38 135 11z m-1665 -252 c88 -14 368 -38 1530 -131 245 -19 531 -45 635 -58 266 -31 782 -30 1435 2 558 27 758 26 809 -4 66 -39 83 -86 69 -190 -2 -16 3 -21 27 -23 17 -1 45 -5 63 -8 l33 -5 -73 -81 c-40 -45 -91 -101 -113 -124 l-40 -43 -105 34 c-194 63 -189 45 37 -120 l176 -130 -48 -7 c-198 -28 -643 -63 -1000 -79 -345 -15 -617 -8 -1357 36 -326 19 -809 46 -1073 60 -264 14 -518 30 -565 36 -285 34 -480 118 -635 274 -36 35 -65 69 -65 74 0 5 14 14 31 22 42 17 87 55 104 90 20 37 18 87 -5 189 -31 134 -25 214 14 205 11 -2 64 -11 116 -19z m5160 -126 c0 -19 -7 -20 -125 -20 -118 0 -125 1 -125 20 0 19 7 20 125 20 118 0 125 -1 125 -20z m-472 -62 c42 -34 79 -63 81 -65 3 -2 -31 -37 -75 -77 -43 -41 -82 -71 -85 -68 -6 6 -59 221 -59 237 0 4 50 34 58 35 2 0 38 -28 80 -62z m506 -160 c-8 -27 -63 -105 -93 -132 -18 -16 -25 -17 -48 -7 l-26 12 74 75 c76 76 106 93 93 52z m-388 -59 c47 -40 81 -75 77 -79 -7 -7 -102 -30 -123 -30 -6 0 -19 9 -30 20 -16 16 -20 33 -20 90 0 39 3 70 6 70 3 0 43 -32 90 -71z m-5842 -117 c65 -39 153 -83 195 -98 154 -54 181 -66 215 -104 41 -46 58 -113 46 -185 -11 -62 -11 -62 146 -145 64 -34 114 -63 112 -65 -2 -2 -102 21 -222 51 -120 30 -223 53 -229 51 -6 -2 16 -30 49 -64 71 -72 157 -116 320 -163 62 -18 134 -44 160 -59 l49 -26 8 -95 c4 -52 11 -122 15 -155 l7 -60 137 -39 c140 -41 157 -56 66 -56 -27 0 -48 -3 -48 -6 0 -3 64 -96 143 -208 79 -111 147 -208 151 -215 5 -8 -5 -7 -31 4 -21 9 -54 23 -74 30 -97 35 -162 87 -477 378 -309 286 -548 562 -733 845 -123 189 -141 234 -172 444 l-6 38 27 -14 c15 -8 80 -46 146 -84z m5744 -179 c63 -80 110 -149 105 -154 -4 -4 -59 -26 -120 -48 l-113 -40 0 194 c0 107 3 195 8 194 4 0 58 -66 120 -146z m2302 -410 c-114 -188 -249 -388 -344 -508 -105 -134 -300 -324 -416 -408 -85 -60 -355 -206 -363 -196 -4 5 -76 274 -74 275 1 1 56 -8 122 -21 66 -12 123 -20 127 -18 4 2 91 121 193 263 202 283 185 267 303 285 51 8 105 51 121 95 5 17 9 30 8 30 -1 0 -55 -17 -119 -39 l-118 -38 0 41 c0 22 5 58 11 80 10 37 15 40 165 113 144 70 454 195 463 187 2 -2 -33 -66 -79 -141z m-5397 -31 l28 -29 -41 -27 -41 -27 -35 36 c-40 43 -41 48 -11 63 39 19 72 14 100 -16z m2238 -150 c8 -22 8 -22 -19 -7 -61 33 -64 38 -46 81 l17 39 19 -45 c11 -25 24 -55 29 -68z m-2507 37 l26 -20 -26 -35 -26 -34 -30 18 c-49 29 -54 40 -28 67 29 30 49 31 84 4z m2178 -35 c57 -29 58 -78 1 -152 l-26 -35 -48 94 c-26 52 -48 100 -48 107 -1 16 80 7 121 -14z m-2429 -32 c15 -15 27 -31 27 -34 0 -9 -87 -58 -104 -58 -14 0 -56 45 -56 60 0 11 73 60 91 60 8 0 27 -13 42 -28z m1942 -34 c13 -64 18 -60 -105 -89 -63 -15 -118 -25 -122 -23 -17 11 -7 54 14 65 26 14 178 67 195 68 7 1 15 -9 18 -21z m-1045 -73 c17 -9 30 -18 30 -21 0 -3 -12 -21 -26 -39 -25 -33 -27 -34 -52 -20 -15 8 -36 21 -46 30 -19 15 -19 15 4 40 27 29 49 31 90 10z m4438 -12 c-3 -27 -7 -28 -173 -69 -93 -23 -172 -40 -174 -39 -7 8 53 76 83 95 45 27 97 38 189 39 l78 1 -3 -27z m-6054 -42 c184 -33 783 -118 1061 -151 364 -43 814 -47 2020 -20 226 5 532 10 680 12 l270 3 143 -44 c78 -24 142 -47 142 -50 0 -3 -71 -37 -159 -75 -316 -136 -339 -165 -236 -305 25 -34 43 -61 41 -61 -2 0 -71 38 -152 85 l-149 85 -3 -38 c-2 -25 7 -62 28 -109 30 -73 38 -132 21 -175 -5 -13 -35 -53 -68 -89 -33 -36 -75 -92 -95 -125 -54 -91 -139 -254 -133 -254 22 0 498 75 572 90 218 45 389 99 862 274 389 144 419 154 543 176 57 10 104 17 105 16 7 -6 -58 -73 -107 -111 -86 -66 -174 -107 -474 -217 -393 -145 -557 -194 -847 -252 -744 -151 -1806 -151 -2824 0 -325 48 -578 173 -906 448 -221 185 -241 212 -379 519 -70 156 -126 205 -171 151 -6 -8 -14 -14 -18 -14 -4 0 -1 57 5 128 7 70 13 131 13 136 1 4 10 6 22 3 12 -3 98 -19 193 -36z m4207 -448 c8 -22 7 -30 -7 -40 -28 -20 -41 -16 -53 18 -14 40 -14 37 7 42 35 9 43 6 53 -20z"/>
          <path d="M8868 4330 c-44 -13 -94 -48 -122 -85 -33 -42 -101 -184 -93 -191 7 -7 172 28 269 57 56 16 73 27 107 67 23 26 41 52 41 59 0 12 -70 73 -107 92 -25 13 -56 13 -95 1z"/>
          <path d="M7507 4384 c-31 -17 -31 -16 30 -112 30 -47 37 -52 51 -40 9 7 19 14 21 15 5 4 -62 152 -69 152 -3 0 -17 -7 -33 -15z"/>
          <path d="M4714 4405 c91 -143 206 -213 378 -231 l67 -7 11 43 c6 23 10 43 8 44 -2 2 -104 40 -228 86 -124 45 -232 85 -240 88 -12 5 -11 0 4 -23z"/>
          <path d="M7360 2919 c0 -27 3 -31 23 -26 12 3 72 11 132 18 99 12 105 14 65 20 -25 3 -84 9 -132 13 l-88 6 0 -31z"/>
          <path d="M7135 1506 c-56 -25 -84 -69 -104 -159 l-9 -40 86 7 c48 4 89 9 91 12 2 2 -5 14 -17 27 -39 41 -29 64 33 83 63 20 95 48 77 66 -18 18 -122 21 -157 4z"/>
          <path d="M6946 1088 c-15 -51 -43 -126 -62 -167 -37 -81 -42 -116 -18 -125 9 -3 54 -6 101 -6 l85 0 -6 88 c-3 48 -8 135 -12 195 l-6 107 -27 0 c-26 0 -29 -5 -55 -92z"/>
        </g>
      </svg>
      <p i18n class="col-md-7 m-auto" style ="text-align: -webkit-center;"> ~<span style="font-weight: bold">10 USD </span> per day </p>
    </div>
    <div class="row mt-4">
      <svg class="col-md-5" height="65px" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(1.65,0,0,1.977,-1209,-61)">
          <g fill-rule="evenodd">
            <path d="m1009 214h-231c-11 0-24-17-24-28 0-19 1-38 1-56 3-21 11-40 19-59 2-4 5-8 10-8h83c8 3 16 6 19 15 24 59 72 87 126 97v36c0 1-2 3-3 3z"/>
            <path d="m770 114h105c3 0 4-6 2-9-3-10-8-30-13-30h-81c-5 0-10 20-15 30-1 4 0 9 2 9z" fill="#fff"/>
          </g>
          <g fill="#fff">
            <path d="m787 164c0 6-4 10-9 10s-10-4-10-10c0-5 5-9 10-9s9 4 9 9z"/>
            <path transform="translate(80)" d="m787 164c0 6-4 10-9 10s-10-4-10-10c0-5 5-9 10-9s9 4 9 9z"/>
          </g>
          <g fill="#fff" fill-rule="evenodd">
            <path d="m913 136v35l-16-8c-1-14-2-29-2-44 6 5 13 13 18 17z"/>
            <path d="m937 155l1 27-16-7v-31c7 6 10 7 15 11z"/>
            <path d="m945 160v24c5 2 10 3 15 4v-22l-15-6z"/>
            <path d="m966 169v21c4 1 8 2 12 2v-20l-12-3z"/>
            <path d="m984 174v19c3 1 7 1 10 1v-18l-10-2z"/>
            <path d="m999 177v18l8 1v-18l-8-1z"/>
          </g>
          <path d="m754 229h20v-10h30v10h44v-10h164v10c-46 1-93 3-118 14h-140v-14z"/>
        </g></svg>
      <div class="col-md-7 m-auto">
        <p i18n style ="text-align: -webkit-center;"> 1 trip ~ <span style="font-weight: bold; text-align: -webkit-center;">1 USD </span> </p>
        <p i18n style ="text-align: -webkit-center;"> 60 trips ~ <span style="font-weight: bold; text-align: -webkit-center;">30 USD </span></p>
      </div>
    </div>
  </nz-card>
</div>
