.overlay {
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  cursor: pointer;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.mobile-sider {
  position: absolute;
  z-index: 1;
}

nz-sider {
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

nz-header {
  position: fixed;
  width: 100%;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.collapsed {
  float: right;
  margin-right: 5rem;
}

.not-collapsed {
  float: right;
  margin-right: 12.5rem;
}

.mobile {
  float: right;
}

.logo-style {
  max-width: 3rem;
  margin: 10px;
  max-height: 3rem;
}

.label-width-close {
  width: calc(100% - 6rem - 60px)
}

.label-width-open {
  width: calc(100% - 6rem - 210px)
}

.image-style {
  max-width: 3rem;
  margin: 10px;
  max-height: 3rem !important;
}

.mb-5px {
  margin-bottom: 5px
}

.mt-5px {
  margin-top: 5px
}

.mb-0 {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.mt-80px {
  margin-top: 80px
}

.title-style {
  color: white;
  white-space: normal;
  vertical-align: center;
  cursor: auto;
}

.span-style {
  cursor: auto;
  color: white;
  margin-left: 3rem;
  margin-bottom: 0;
}

.size {
  font-size: 1.4rem;
}

.niimech-logo {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.niimech-logo-big {
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}

.font-size {
  font-size: 1.4rem;
}

svg {
  width: 18px;
}

.row-flex-end {
  display: flex;
  justify-content: flex-end;
}
