<div class="animated fadeIn">
  <h3 i18n>Gallery</h3>
  <!--  <nz-steps [nzCurrent]="curIndex" (nzIndexChange)="onIndexChange($event)">-->
  <!--    <ng-container *ngFor="let item of it">-->
  <!--      <nz-step [nzTitle]=item.label.toString()></nz-step>-->
  <!--    </ng-container>-->
  <!--  </nz-steps>-->

  <!--  <ng-container *ngFor="let gallery of galleries let i = index">-->
  <!--    <div *ngIf="curIndex === i" class="row" style="margin-top: 1rem">-->
  <!--      <div class="col-md-8">-->
  <!--        <div class="animated fadeIn">-->
  <!--          <ngx-gallery [options]="galleryOptions" [images]="gallery"></ngx-gallery>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-md-4">-->
  <!--        <p> {{yearDescription[i].about}}</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-container>-->

  <ul class="timeline">
    <li *ngFor="let gallery of galleries let i = index let odd = odd"
        [ngClass]="{'timeline-inverted': odd}">
      <div class="timeline-badge">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{it[i].label.toString()}}</h4>
          <div class="animated fadeIn">
            <ngx-gallery [options]="galleryOptions" [images]="gallery"></ngx-gallery>
          </div>
        </div>
        <div class="timeline-body">
          <p>{{yearDescription[i].about}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
