<div class="animated fadeIn">
  <h3 i18n id="aboutAs">About us</h3>
  <div class="row">
    <div *ngFor="let item of aboutUs" class="col-md-4">
      <nz-card style="width:100%; margin: 0.5rem" [nzCover]="coverTemplate">
        <nz-card-meta
          [nzTitle]="item.name"
          [nzDescription]="item.description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="item.photo"/>
      </ng-template>
    </div>
  </div>
</div>
