span.ant-layout-sider-zero-width-trigger.ng-star-inserted {
  margin-top: 2rem;
}

.ant-layout-content {
  min-height: auto;
}

nz-header .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}


