// color palettes
@blue-6: #275793;
@purple-6: #6E5C97;
@cyan-6: #77B2C5;
@green-6: #47802b;
@pink-6: #e83e8c;
@red-6: #ef6101;
@orange-6: #fdac07;
@yellow-6: #ffc107;
@lime-6: #47802b;
@gold-6: #fdac07;

// -------- Colors -----------
@primary-color: @red-6;
@info-color: @cyan-6;
@success-color: @green-6;
@processing-color: @blue-6;
@error-color: @red-6;
@highlight-color: @red-6;
@warning-color: @gold-6;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

// Layout
@layout-header-background: #212121;
@layout-sider-background: @layout-header-background;
@layout-trigger-background: #2d2d2d;
